.Input {
    /* background-color: #F8B195; */
    border: none;
    outline: none;
    border-bottom: 1px solid #355C7D;
    display: block;
    margin: 0 auto;
    padding: 0.5em;
    width: 15em;
    height: 3em;
    color: #FFFAF0;
    font-family: "Coves Bold";
}

input:focus {
    border-bottom: 3px solid #355C7D;
}