.Input {
    /* background-color: #F8B195; */
    border: none;
    outline: none;
    border-bottom: 1px solid #355C7D;
    display: block;
    margin: 0 auto;
    padding: 0.3em;
    width: 15em;
    height: 3em;
    color: #2E3F51;
    font-family: "Coves Bold";
    background-color: #FECEAB;
    font-size: 0.9em;
}

input:focus {
    border-bottom: 3px solid #355C7D;
}