.login {
    margin: 0 auto;
    width: 20em;
}

.loginBox {
    border: 2px solid #2E3F51;
    width: 500px;
    padding: 20px 0px;
    border-radius: 5px;
    background-color: #FECEAB;
}

.mainDiv {
    display: flex;
    justify-content: center;
}