.loginNav {
    display: flex;
    align-items: center;
    height: 100%;
}

.Header {
    /* top and position - needed for sticky header */
    top: 0px;
    position: sticky;
    width: 100%;
    height: 4em;
    background-color: #355C7D;
    /* makes all divs in one line */
    /* opacity: 0.99; */
    z-index: 100;
    display: flex;
}

.login {
    width: 18em;
    box-sizing: border-box;
    margin: 0 auto;
}

.lighter {
    box-shadow: 40px 40px 300px 45px rgba(192, 108, 132, 0.7);
    /* box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.65); */
    /*dark around it*/
}

.controller {
    box-sizing: border-box;
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 2;
    cursor: pointer
}

.notselected {
    background-color: rgba(0, 0, 0, 0.65);
}

.selectedController {
    position: relative;
    transition: border 0.5s ease-out;
    background-image: linear-gradient(#F8B195, #F8B195);
    width: 120%;
}

.form {
    position: relative;
    display: block;
    background-color: #F8B195;
    height: 14em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.formHidden {
    display: none
}

.navPanelButtons {
    /* color: #C06C84 */
    color: #FFFAF0;
    font-size: 1.2em;
}

.ulNav {
    display: flex;
    flex-direction: row;
}
.link {
    text-decoration: none;
}

<<<<<<< HEAD
/* .liNav {
    color: #C06C84;
=======
.liNav {
    color: #FFFAF0;
    /* color: #C06C84 */
>>>>>>> refs/remotes/origin/master
    display: flex;
    width: 7em;
} */

/* .linkNav {
    color: #3a3e47;
    display: inline-block;
    height: 100%;
    font-size: 16px;
    /* text-decoration: none; */
    /* text-transform: uppercase; */
    /* display: flex;
    align-items: center;
    padding: 0 3px;
} */ 

/* .linkNav:hover {
    color: #ffaa3b;
}

.linkNav:active {
    color: #ffaa3b;
    border-top: 4px solid #ffaa3b;
    font-weight: 700;
} */

/* .ActiveLink {
    background: green;
    color: yellow;
} */