.RegErr {
    /* color: #F67280; */
    color: #FF4E50;
    font-size: 0.8em;
    margin: 0 auto;
    width: 17em;
}

.pswdBox {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.Pswd {
    height: 6px;
    flex: 1;
    visibility: hidden;
}

.pswdWeak {
    background-color: #9DE0AD;
    margin-left: 37px;
}

.pswdMedium {
    background-color: #45ADA8;
}

.pswdStrong {
    background-color: #547980;
    margin-right: 37px;
}

.showPswd {
    visibility: visible;
}