.RegErr {
    color: #F67280;
    font-size: 0.8em;
    margin: 0 auto;
    width: 17em;
}

.pswdBox {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.Pswd {
    height: 6px;
    flex: 1;
    visibility: hidden;
}

.pswdWeak {
    background-color: #FECEAB;
    margin-left: 37px;
}

.pswdMedium {
    background-color: #FF847C;
}

.pswdStrong {
    background-color: #E84A5F;
    margin-right: 37px;
}

.showPswd {
    visibility: visible;
}