.Button {
    font-family: "Coves Bold";
    background-color: #355C7D;
    color: #F67280;
    border-radius: 5px;
    padding: 4px 0;
    margin: 15px;
    outline: none;
    cursor: pointer;
    border: 1px solid #355C7D;
    box-shadow: 40px 40px 300px 45px rgba(192, 108, 132, 0.7);
    width: 8em;
}

.Button:hover {
    opacity: 0.85;
}