@font-face {
    font-family: 'Break';
    font-style: normal;
    font-weight: normal;
    src: local('Break'), url(../Fonts/LogoFont/break\ regular.ttf);
}

.logo {
    font-family: 'Break';
    font-size: 50px;
    /* color: #F67280; */
    color: #FECEAB;
    margin-left: 50px;
    font-weight: 550;
}

.logoMainImage {
    height: 54px;
    /* margin-top: 5px;
    margin-left: 10px; */
    border-radius: 2px;
    /* border: 1px solid #F67280; */
    border: 1px solid #FECEAB;
    position: relative;
    top: 4px;
    left: 30px;
}

@media only screen and (max-width: 1024px) {
    .logo {
        /* font-size: 40px; */
        visibility: hidden;
    }
}

@media only screen and (max-width: 1024px) {
    .logo {
        /* font-size: 40px; */
        visibility: hidden;
    }
    .logoMainImage {
        height: 40px !important;
        width: 40px !important;
    }
}