@font-face {
    font-family: 'Break';
    font-style: normal;
    font-weight: normal;
    src: local('Break'), url(../Fonts/LogoFont/break\ regular.ttf);
}

.logo {
    font-family: 'Break';
    font-size: 50px;
    /* color: #F67280; */
    color: #2A363B;
    margin-left: 50px;
}

.logoMainImage {
    height: 54px;
    /* margin-top: 5px;
    margin-left: 10px; */
    border-radius: 2px;
    /* border: 1px solid #F67280; */
    border: 1 px solid #2A363B;
    position: relative;
    top: 4px;
    left: 30px;
}