.pageNotFound {
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
}

.wrapper {
    margin: 3em auto;
    width: 1170px;
}

@media only screen and (max-width: 1366px) {
    .wrapper {
        max-width: 800px;
    }
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        max-width: 600px;
    }
}

@media only screen and (max-width: 812px) {
    .wrapper {
        max-width: 400px;
    }
}