    .articleOfferLeft {
        border: 2px solid #2A363B;
        border-radius: 5px;
        margin-right: 20px;
        height: 590px;
        padding: 10px 20px;
    }
    
    .articleOfferRight {
        border-radius: 5px;
    }
    
    .articleOfferBoth {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .formStyle {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
    }
    
    .formDivs {
        margin-bottom: 10px;
    }
    
    .readyButton {
        margin-left: 120px;
        margin-top: 20px;
    }
    
    .articleOfferLeft input,
    textarea {
        border-radius: 4px;
        color: #2E3F51;
        font-family: "Coves";
        font-size: 1.03em;
    }
    
    .articleSelect {
        border-radius: 4px;
        color: #2E3F51;
        font-family: "Coves";
        font-size: 1.03em;
    }
    
    @media only screen and (max-width: 1366px) {
        .articleOfferBoth {
            flex-direction: column;
            width: 450px;
        }
        .articleOfferLeft {
            margin-bottom: 50px;
        }
    }
    
    @media only screen and (max-width: 1024px) {
        .articleOfferBoth {
            width: 300px;
            margin-left: 50px;
        }
        .articleOfferLeft {
            width: 220px;
        }
        .articleOfferLeft textarea {
            width: 200px;
        }
        .readyButton {
            margin-left: 40px
        }
    }