@font-face {
    font-family: 'Coves';
    font-style: normal;
    font-weight: normal;
    src: local('Coves'), url(./UI/Fonts/MainFont/Coves\ Light.otf) format('opentype');
}

@font-face {
    font-family: 'Coves Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Coves Bold'), url(./UI/Fonts/MainFont/Coves\ Bold.otf) format('opentype');
}

html {
    font-family: "Coves Bold";
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* color: #6C5B7B; */
    background-color: #e9ebee;
    min-height: 100%;
    position: relative;
    padding-bottom: 4em;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


/* all anchor elements */

a {
    outline: none;
    text-decoration: none;
}

::placeholder {
    /* color: #C06C84; */
    font-family: "Coves Bold";
}