.footer {
    width: 100%;
    height: 4em;
    color: #C06C84;
    background-color: #355C7D;
}

.footerContent {
    text-align: right;
    margin-right: 50px;
    font-size: 1.1em;
    position: relative;
    top: 40px;
}

.githubLinks {
    color: #C06C84;
}